# --- CONFIGURATION (COPY THIS TO .env) ---

# GANTI DENGAN API KEY DARI https://aistudio.google.com/app/apikey
GOOGLE_API_KEY=your_gemini_api_key_here

# Nama Database (Otomatis terbayang di Docker MariaDB)
DB_HOST=db
MARIADB_DATABASE=db_shoes_store
MARIADB_ALLOW_EMPTY_ROOT_PASSWORD=yes
